.sideBar {
  padding: 4rem 0;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  display: flex;
}

.sideBar > a:first-child {
  padding: 0;
}

.sideBar > a > img {
  width: 100%;
  transition: all 0.5s;
}

.sideBar > a > img:hover {
  filter: drop-shadow(0 0 10px tomato);
}

.sideBar a {
  text-decoration: none;
  transition: all 0.5s;
  color: rgba(0, 0, 0, 0.491);
  padding: 2rem;
}

.sideBar a:hover {
  color: tomato;
  transform: scale(1.1);
}

.sideBar a > p {
  display: flex;
  align-items: center;
}

.sideBar a > p > svg {
  margin-right: 0.5rem;
}
